
/*LISTE*/

.ressource-list1 {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.ressource-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.ressource-list > * {
	flex-basis: 320px;
	flex-grow: 1;
	flex-shrink: 0;
}

.ressource-list-item figure {
	float: ;
}

figure {
	font-size: 2vw;
	font-family: 'Fraunces';
	font-weight : 600;
}
/*LISTE*/


/*BUTTON*/
a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1ems solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}
/*BUTTON*/

/*MAIN*/
* {
	box-sizing: border-box;
	margin : 10px;
}

h1 {
		font-size: 5vw;
	}

img	{
	width : 300px;

}

/* GRID
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}
.one {
  grid-column: 1 ;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
}
.height {
  grid-column: 2;
  grid-row: 3;
}
*/

/*MOBILE*/
@media screen and (max-width: 768px)
{
	
	*{
		background-color: #e2aa84 ;
	}

}

/*PAD*/
@media screen and (min-width: 768px) and (max-width: 1024px)
{
	h1 {
		color: red;
		font-weight : 100;
	}

	h2 {
		color : red;
	}


	*{
		background-color: #d3cc87 ;
	}

}

/*DESKTOP*/
@media screen and (min-width: 1024px)
{
	h1 {
		font-family: 'Fraunces';
		font-weight : 300;
		color : #9400D3;
	}


	h2 {
		font-family: 'Fraunces';
		font-weight : 300;
		color : #9400D3;
	}


	*{
		background-color: #c5ff78 ;
	}
}


